.flex {
    background-color: yellowgreen;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
}

.contenido-1 {
    background-color: white;
    /* height: 200px; */
    width: 300px;
    border: 1px solid blueviolet;
}

.contenido-2 {
    background-color: white;
    /* height: 200px; */
    width: 300px;
    border: 1px solid blueviolet;
}

.contenido-3 {
    background-color: white;
    /* height: 200px; */
    width: 300px;
    border: 1px solid blueviolet;
}

div div {
    padding: 8px;
    margin: 12px;
}