div {
    border: 1px solid gray;
    padding: 8px;
}

.static {
    background: mediumturquoise;
    width: 300px;
}

.relative {
    position: relative;
    background: greenyellow;
    width: 300px;
    left: 80px;
}

.fixed {
    background-color: aquamarine;
    position: fixed;
    bottom: 0px;
    right: 0px;
}

.padreabsolute {
    position: relative;
    background-color: gray;
    width: 600px;
    height: 600px;
}

.absolute {
    background-color: cornflowerblue;
    position: absolute;
    bottom: 20px;
    right: 80px;
}

.stiky {
    background-color: darkkhaki;
    position: sticky;
    bottom: 20px;
    z-index: 2;
}