body {
    margin: 0;
    padding: 0;
}

html {
    font-family: Helvetica;
    color: white;
}

.video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
}

.header {
    height: 100vh;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header button {
    padding: 8px 24px;
    border: 2px solid deeppink;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.509);
    color: white;
    font-weight: bold;
}

.header button:hover {
    padding: 16px 48px;
    background-color: rgba(255, 255, 255, 0.509);
    color: deeppink;
    cursor: pointer;
}